html {
    /* overflow: scroll; */
}
body {
    background-color: #2F303A;
    font-family: 'Poppins', sans-serif;
    height: 1vh;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    display: flex;
    margin-top: 34px;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo__svg {
    margin-right: 16px;
}
.logo__span {
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    -webkit-transition: all 1s ease-out;
}
.menu {
    display: flex;
}
.menu__item {
    list-style: none;
}
.menu__item:first-child {
    margin-right: 60px;
}
.logo__span:hover, .menu__item__link:hover {
    color: #BC3A80;
}
.menu__item__link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
    -webkit-transition: all 1s ease-out;
}

.menu-join:active {
    font-weight: bold;
    color:#BC3A80;
}

/*main*/

.main {
    display: flex;
    padding-top: 135px;
    justify-content: space-between;
}
.content__text {
    margin-top: 132px;
}
.main__title {
    font-size: 72px;
    line-height: 108px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 36px;
}
.main__text {
    font-size: 36px;
    line-height: 54px;
    color: #fff;
    margin-bottom: 130px;
    font-weight: normal;
}
.main__button {
    border: none;
    background-color: #1762A7;
    border-radius: 10px;
    padding: 25px 60px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
.main__button__link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}
.main__button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*background*/

.content-img {
    position: relative;
}
.content-img::before {
    top: 530px;
    left: 60px;
    position: absolute;
    z-index: -1;
    content: '';
    width: 339px;
    height: 339px;
    background-color: rgba(188, 58, 128, 0.1);
    border-radius: 50%;
}

.content-img::after {
    top: 20px;
    left: 530px;
    position: absolute;
    content: '';
    width: 203px;
    height: 203px;
    background-color: rgba(23, 98, 167, 0.1);
    border-radius: 50%;
}
body {
    position: relative;
    overflow: hidden;
}
.content-text::after {
    top: 890px;
    right: 0px;
    position: absolute;
    z-index: -1;
    content: '';
    width: 517px;
    height: 517px;
    background-color: rgba(41, 114, 16, 0.1);
    border-radius: 50%;
}
/*burger*/

.burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}
.burger span {
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 1px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.burger span:nth-child(1) {
    margin-top: 20px;
}
.burger span:nth-child(2) {
    margin-top: 8px;
}
.burger span:nth-child(3) {
    margin-top: 8px;
}
.burger-menu {
    position: relative;
    display: none;
}
.burger.open {
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    position: absolute;
    top: 9px;
    width: 30px;
}
.open span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all ease .5s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function:ease-in-out;
    -o-transition: all ease .5s;
    margin-top: 18px;
    transition: all ease .5s;
}
.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    position: absolute;
    width: 30px;
}
.right-menu {
    position: relative;
}
.right-menu__list {
    background-color: rgb(188, 58, 128, 0.7);
    position: fixed;
    display: none;
    margin: 0;
    right: 0;
    padding-top: 100px;
    padding-bottom: 30px;
    top: 0;
    width: 200px;
    transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -webkit-transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -o-transition: .5s cubic-bezier(0.8, 0.5, 0.2, 1.4)
}
.right-menu__list li {
    list-style: none;
    margin-top: 20px;
}
.right-menu__list__link {
    color: #fff;
    text-decoration: none;
}
.openMenu {
    display: block;
}

/*footer*/

.footer {
    background-color: #202027;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: -5px;
    /* position: fixed;
    bottom: 0;
    width: 100%; */
}
.menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-footer-wrap {
    display: flex;
}
.footer__item {
    margin-right: 162px;
    list-style: none;
}
.footer__item__link {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-decoration: none;
    -webkit-transition: all 1s ease-out;
}
.footer__icon {
    margin-right: 10px;
}
.footer__item__link:hover {
    color: #1762A7;
    fill: #1762A7;
}

/*discover-page*/

.discover-main {
    display: flex;
    justify-content: space-between;
    padding-top: 185px;
}
.discover_content {
    margin-right: 204px;
}
.discover__title {
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    color: #FFFFFF;
}
.discover__text {
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.discover_cards-wrap {
    display: flex;
}
.discover__card {
    width: 147px;
    height: 139px;
    background-color: #202027;
    margin-left: 74px;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
.discover__card:first-child {
    margin-left: 0;
}
.discover__card:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.dicsover__icon {
    margin-top: 17px;
    margin-bottom: 23px;
}

/*Join-page*/

.join-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
}
.join__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color:#fff;
}
.title__span {
    color: #8B378C;
    font-size: 96px;
    line-height: 144px;
}
.join_form {
    background-color: #202027;
    border-radius: 12px;
    padding-top: 34px;
    padding-right: 109px;
    padding-left: 109px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.label {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 31px;
}
.input {
    background: #202027;
    border: 2px solid #1762A7;
    box-sizing: border-box;
    border-radius: 11px;
    height: 60px;
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}
.join__button {
    max-width: 632px;
    padding: 34px 256px;
    border: none;
    border-radius: 10px;
    background-color: #1762A7;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
}

/*adaptive*/
.container {
    padding: 0 15px;
}

@media (max-width: 1650px) {
    .container {
        max-width: 1400px;
    }
    .footer__item__link {
        font-size: 30px;
    }
    /*discover*/
    .discover__title {
        font-size: 66px;
    }
    .discover__text {
        font-size: 30px;
    }
    /*join*/
    .discover__title {
        font-size: 66px;
    }
    .title__span {
        font-size: 90px;
    }
    .join_form {
        padding-right: 60px;
        padding-left: 60px;
    }
}
@media (max-width: 1430px) {
    .container {
        max-width: 1200px;
    }
    .footer__item__link {
        font-size: 20px;
    }
    /*main*/
    .main__title {
        font-size: 66px;
    }
    .main__text {
        font-size: 30px;
    }
    /*discover*/
    .discover-photo img {
        width: 110%;
    }
    .discover__title {
        margin-top: 0;
    }
    .discover_content {
        margin-right: 50px;
    }
    /*join*/
    .join__title {
        font-size: 66px;
        line-height: 93px;
    }
    .title__span {
        font-size: 86px;
        line-height: 50px;
    }
}

@media(max-width: 1340px) {
    .container {
        max-width: 900px;
    }
    /*main*/
    .main__title {
        font-size: 62px;
        line-height: 80px;
    }
    .main__text {
        font-size: 22px;
        margin-bottom: 70px;
    }
    .footer__item {
        margin-right: 100px;
    }
    /*discover*/
    .discover-main {
        align-items: center;
    }
    .discover__title {
        font-size: 58px;
    }
    /*join*/
    .join__title {
        max-width: 50px;
    }
    .join_form {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 30px;
        width: 70%;
    }
    .join__button {
        padding: 20px 160px;
    }
}

@media(max-width: 980px) {
    /*main*/
    .container {
        max-width: 750px;
    }
    .content-text {
        position: absolute;
        text-align: center;
        padding-left: 150px;
        /* width: 100vw; */
    }
    .content-img {
        opacity: 0.3;
    }
    .footer__item {
        margin-right: 57px;
    }
    /*discover*/
    .discover-main {
        padding-top: 140px;
        text-align: center;
    }
    .discover_content {
        margin-right: 0;
    }
    .discover_cards-wrap {
        justify-content: center;
        padding-bottom: 20px;
    }
    .discover__title {
        font-size: 56px;
    }
    .discover__text {
        font-size: 26px;
    }
    .discover-photo {
        display: none;
    }
    /*join*/
    .join-main {
        display: block;
        padding-top: 0px;
    }
    .join_form {
        width: 80%;
        margin: 0 auto;
    }
    .join__title {
        max-width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 46px;
    }
    .input {
        margin-bottom: 35px;
    }
    .title__span {
        font-size: 56px;
    }
}
@media(max-width: 750px) {
    .container {
        max-width: 500px;
    }
    /*main*/
    .content-img::after {
        display: none;
    }
    .content-img::before {
        display: none;
    }
    .content-text::after {
        display: none;
    }
    .content-img img {
        width: 90%;
        height: auto;
    }
    .content-text {
        padding: 0;
        padding-left: 15px;
    }
    .main {
        padding-top: 197px;
    }
    .menu {
        display: none;
    }
    .menu-header-wrap {
        display: none;
    }
    .footer__item {
        margin-right: 25px;
    }
    .footer__item__link {
        font-size: 16px;
    }
    .footer__icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    .burger-menu {
        display: flex;
    }
    /*discover*/
    .discover-main {
        padding-top: 176px;
    }
    .discover__title {
        font-size: 40px;
    }
    .discover__card {
        font-size: 18px;
    }
    .dicsover__icon {
        margin-bottom: 13px;
    }
    .discover__text {
        font-size: 20px;
        line-height: 46px;
    }
    .discover__card {
        width: 115px;
        height: 102px;
    }
    /*join*/
    .join__button {
        padding: 20px 98px;
    }
    .join__title {
        font-size: 37px;
    }
    .title__span {
        font-size: 46px;
    }
}
@media(max-width: 550px) {
    /*main*/
    .logo__span {
        font-size: 28px;
    }
    .container {
        max-width: 400px;
    }
    .main__title {
        font-size: 52px;
    }
    .main__text {
        font-size: 18px;
        margin-bottom: 38px;
    }
    .main__button__link {
        font-size: 18px;
    }
    .main__button {
        padding: 14px 57px;
    }
    .content-img img {
        width: 103%;
    }
    .menu-footer {
        display: block;
    }
    .menu-footer-wrap {
        display: flex; 
        justify-content: space-between;       
    }
    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /*discover*/
    .discover-main {
        padding-top: 170px;
    }
    .discover__card {
        font-size: 16px;
        margin-left: 30px;
    }
    /*join*/
    .join__title {
        font-size: 32px;
    }
    .title__span {
        font-size: 40px;
    }
    .label {
        font-size: 20px;
    }
    .join__button {
        font-size: 20px;
        padding: 14px 98px;
    }

}
@media(max-width: 450px) {
    /*main*/
    .container {
        max-width: 320px;
    }
    .logo__svg {
        width: 40px;
        height: 40px;
    }
    .logo__span {
        font-size: 26px;
    }
    .burger span:nth-child(1) {
        margin-top: 9px;
    }
    .open span:nth-child(3) {
        margin-top: -3px;
    }
    .main__title {
        font-size: 40px;
    }
    .main__text {
        max-width: 300px;
        margin-bottom: 28px;
    }
    /*discover*/
    .discover_content {
        max-width: 320px;
    }
    .discover-main {
        padding-top: 106px;
        padding-bottom: 100px;
    }
    .discover__title {
        line-height: 60px;
        font-size: 36px;
    }
    /*join*/
    .join__button {
        font-size: 18px;
        padding: 13px 73px;
    }

}

.discover-photo img {
    object-fit: cover;
    height: auto;
}

