body {
    background-color: #2F303A;
    font-family: 'Poppins', sans-serif;
    height: 1vh;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    display: flex;
    margin-top: 34px;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo__svg {
    margin-right: 16px;
}
.logo__span {
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    -webkit-transition: all 1s ease-out;
}
.menu {
    display: flex;
}
.menu__item {
    list-style: none;
}
.menu__item:first-child {
    margin-right: 60px;
}
.logo__span:hover, .menu__item__link:hover {
    color: #BC3A80;
}
.menu__item__link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
    -webkit-transition: all 1s ease-out;
}

.menu-join:active {
    font-weight: bold;
    color:#BC3A80;
}

/*main*/

.main {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}
.content__text {
    margin-top: 132px;
}
.main__title {
    font-size: 72px;
    line-height: 108px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 36px;
}
.main__text {
    font-size: 36px;
    line-height: 54px;
    color: #fff;
    margin-bottom: 130px;
    font-weight: normal;
}
.main__button {
    border: none;
    background-color: #1762A7;
    border-radius: 10px;
    padding: 25px 60px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
.main__button__link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
}
.main__button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*background*/

.content-img {
    position: relative;
}
.content-img::before {
    top: 530px;
    left: 60px;
    position: absolute;
    z-index: -1;
    content: '';
    width: 339px;
    height: 339px;
    background-color: rgba(188, 58, 128, 0.1);
    border-radius: 50%;
}

.content-img::after {
    top: 20px;
    left: 530px;
    position: absolute;
    content: '';
    width: 203px;
    height: 203px;
    background-color: rgba(23, 98, 167, 0.1);
    border-radius: 50%;
}
body {
    position: relative;
    overflow: hidden;
}
.content-text::after {
    top: 890px;
    right: 0px;
    position: absolute;
    z-index: -1;
    content: '';
    width: 517px;
    height: 517px;
    background-color: rgba(41, 114, 16, 0.1);
    border-radius: 50%;
}

/*footer*/

.footer {
    background-color: #202027;
    padding-top: 30px;
    padding-bottom: 20px;
    z-index: 20;
    margin-top: -5px;
}
.menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-footer-wrap {
    display: flex;
}
.footer__item {
    margin-right: 162px;
    list-style: none;
}
.footer__item__link {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-decoration: none;
    -webkit-transition: all 1s ease-out;
}
.footer__icon {
    margin-right: 10px;
}
.footer__item__link:hover {
    color: #1762A7;
    fill: #1762A7;
}

/*discover-page*/

.discover-main {
    display: flex;
    justify-content: space-between;
    padding-top: 185px;
    padding-bottom: 200px;
}
.discover_content {
    margin-right: 204px;
}
.discover__title {
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    color: #FFFFFF;
}
.discover__text {
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}
.discover_cards-wrap {
    display: flex;
}
.discover__card {
    width: 147px;
    height: 139px;
    background-color: #202027;
    margin-right: 74px;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}
.discover__card:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.dicsover__icon {
    margin-top: 17px;
    margin-bottom: 23px;
}

/*Join-page*/

.join-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 132px;
}
.join__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    color:#fff;
}
.title__span {
    color: #8B378C;
    font-size: 96px;
    line-height: 144px;
}
.join_form {
    background-color: #202027;
    border-radius: 12px;
    padding-top: 34px;
    padding-right: 109px;
    padding-left: 109px;
    padding-bottom: 60px;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}
.label {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 31px;
}
.input {
    background: #202027;
    border: 2px solid #1762A7;
    box-sizing: border-box;
    border-radius: 11px;
    width: 633px;
    height: 60px;
    margin-bottom: 57px;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
}
.join__button {
    max-width: 632px;
    padding: 34px 260px;
    border: none;
    border-radius: 10px;
    background-color: #1762A7;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    cursor: pointer;
}
